spring:
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI}
          audience: mindbridge-api
management:
  endpoints:
    web:
      exposure:
        include: health,info
server:
  port: ${PORT:8080}